<% if @reviewer.errors.any? %>
  <div class="error_explanation">
  <h2><%= @reviewer.errors.count %> errors prohibited this obj from being saved:</h2>
    <ul>
      <% @reviewer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div>
  <%= flash[:alert] %>
</div>

<div class="box-myr col-md-6 col-md-offset-3">
  <h2 class="t-myr">プロフィール編集画面</h2>
    <%= form_for(@reviewer) do |f| %>
      <div>
        <label class="m-b-tr">Name</label>
        <%= f.text_field :last_name, autofocus: true%>
      </div>
      <div>
        <label class="m-b-tr">Image</label>
        <%= f.attachment_field :profile_image %>
      </div>
      <div class="up-btn">
        <%= f.submit "更新する", class: "box-up-p btn btn-primary"%>
      </div>
    <% end %>
</div>