<div class="container">
　<div class="row">
	<div class="col-xs-3">
      <%= render 'reviewers/info', reviewer: @reviewer %>
      <%= render 'reviews/new', review: @review %>
    </div>
   <div class="col-xs-9">

<h1>Users</h1>

<table class="table" width="625" cellspacing="0" cellpadding="5" >
<tr>
<th width="200"><font>image</font></th>
<th width="400"><font>name</font></th>
<th width="25"><font></font></th>
</tr>

<% @reviewers.each do |user| %>

<tr>
<td align="left" width="200"><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
<td valign="top" width="400"><%= user.last_name %></td>
<td valign="top" width="25"><%= link_to "Show", reviewer_path(user) %></td>
</tr>

<% end %>

</table>


</div>
 　</div>
 </div>
