<div class="container">
　<div class="row">
	<div class="col-xs-3">
      <%= render 'reviewers/info', user: @reviewer %>
      <%= render 'reviews/new', book: @review %>
    </div>
   <div class="col-xs-9">

<h2>Books</h2>

<table class="table" width="600" cellspacing="0" cellpadding="5" >

<tr>
<th width="200"><font></font></th>
<th width="200"><font>Title</font></th>
<th width="400"><font>Opinion</font></th>
</tr>

<% @reviews.each do |book| %>

<tr>
<td align="left" width="200">
	<%= link_to reviewer_path(book.reviewer) do %>
	<%= attachment_image_tag @reviewer, :profile_image, :fill, 60, 60 %>
	<% end %>
</td>
<td align="left" width="200"><%= link_to book.title, review_path(book) %></td>
<td valign="top" width="400"><%= book.book_review %></td>
</tr>

<% end %>

</table>

</div> 
 　</div>
 </div>


