<div class="container">
  <div class="row">

    <div class="col-xs-3">
      <%= render 'reviewers/info', reviewer: @review.reviewer %>
      <%= render 'rank', all_ranks: @all_ranks %>
    </div>

    <div class="r-b-s col-xs-9">
      <h1>レビュー詳細</h1>
        <div class="r-b-s-box">
              <%= link_to reviewer_path(@reviewer) do %>
                <%= attachment_image_tag @reviewer, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
                  <br>
                  <div class="r-b-s-name">
                    <%= link_to @reviewer.last_name, reviewer_path(@reviewer) %> さん
                  </div>
              <% end %>
            <div>
              <h4><strong>タイトル</strong></h4>
              <div class="r-b-s-box-tr">
                <%= @review.title %>
              </div>
            </div>
            <div>
              <h4><strong>レビュー</strong></h4>
              <div class="r-b-s-box-tr">
                <%= @review.book_review %>
              </div>
            </div>
            <div class="r-b-s-box-ed">
            <% if @review.reviewer == current_reviewer %>
              <a><%= link_to "編集", edit_review_path(@review), class: "btn btn-success" %></a>
              <a><%= link_to "削除", review_path(@review), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %></a>
            <% end %>
            </div>
            <!-- いいね機能 -->
            <div class="r-b-s-heart">
              <% if @review.favorited_by?(current_reviewer) %>
                <%= link_to review_favorites_path(@review), method: :delete do %>
                  <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span><%= @review.favorites.count %>
                  <% end %>
              <% else %>
                <%= link_to review_favorites_path(@review), method: :post do %>
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span><%= @review.favorites.count %>
                <% end %>
              <% end %>
            </div>
            <!-- いいね機能 -->
        </div>
      </div>
  </div>
</div>